.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 78px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        &:hover .text--tiny {
            font-size: 0.8rem;
        }
        
    }
    p {
        margin: 11px 0;
    }
}

.blog__block {
    margin: 10px;
    width: calc(33% - 20px);
}

@media (max-width: 800px) {
    .blog .blogWrapper {
        flex-direction: column;
        width: 65%;
        
    }

    .blog__block {
        width: calc(100% - 20px);
        img {
            width: 100%;
        }
    }
}


