html {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 65%;
    max-width: 1140px;
    margin: 0 auto;
}

// headers

h1 {
    @include font(2.9rem, $headFont, uppercase);
   
}

ul { 
    list-style: none;
}

.list a  {
    @include font(1rem, $headFont, uppercase);
    text-decoration: none;
    font-weight: 700;
}

h3 {
    @include font(1.3rem, $headFont, uppercase);
}

h2 {
    @include font(2rem, $headFont, uppercase);
}

.tag__text {
    @include font(1rem, $headFont, uppercase);
    letter-spacing: 2px;

}

.subheaders {
    margin-top: 90px;
    margin-bottom: 72px;
}

// sizes

.text__xlarge {
    font-size: 1.4rem;
}

.text--large {
    font-size:1.2rem;
}

.text--medium {
    font-size: 1rem;
}

.text--small {
    font-size: 0.9rem;
}

.text--tiny {
    font-size: 0.7rem;
}

// colors

.text--white {
    color: $white;
}

.text--black {
    color: $black;
}

.text--red {
    color: $red;
}

.text--grey {
    color: $grey;
}

.text--darkGrey {
    color: $darkGrey;
}

// font family

p {
    font-family: $textFont;
    line-height: 30px;
}

.text--headFont {
    font-family: $headFont;
}

.text--bold {
    font-weight: 700;
}

// others

.tag {
    border-radius: 500px;
    color: white;
    display: inline-block;
    width: 150px;
    text-align: center;
    transition: all 1s;
    &:hover {
        transform: scale(1.1);
    }
    p {
        margin: 8px 22px;
    }
    a {
        text-decoration: none;
        color: $white;
        }

}

@media (max-width: 1313px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 870px) {
    .subheaders {
        margin-bottom: 40px;
    }
}